
@{
    ViewData["Title"] = "CadastrarLogin";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}

<h1>Cadastrar Login</h1>
<div>
    @ViewBag.Msg
</div>

<div class="text-center">
    <a id="FechaRsv" asp-controller="Home" asp-action="Index"
       class="btn btn-success">Fazer Login</a>
</div>


@section Scripts{
    <script type="text/javascript">

        $('#Header').hide();


    </script>
}


