
@{
    ViewData["Title"] = "CadastrarVeiculo";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}

<h1>@ViewBag.Msg</h1>

<div class="text-center">
    <a id="FechaRsv" asp-controller="Home" asp-action="CadastrarCarro"
       class="btn btn-success">Retornar</a>
</div>

