
@{
    ViewData["Title"] = "CadastrarLogin";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}

<h1>Cadastrar Login</h1>
<div>
    @ViewBag.Msg
</div>


@section Scripts{
    <script type="text/javascript">

        $('#Header').hide();


    </script>
}


