
@{
    ViewData["Title"] = "Desabilitado";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}
@model ViewModelUsuario
<h1>Desabilitado</h1>
<br />
<h1>@Model.Usuario.Nome Usuario Administrador desabilitado, veiculo associado @Model.Veiculo.Modelo</h1>

<div class="text-center">
    <a id="FechaRsv" asp-controller="Login" asp-action="AlterarUsuario"
       class="btn btn-success">Retornar</a>
</div>
