
@{
    ViewData["Title"] = "TornarAdm";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}
@model Usuario

<h1>TornarAdm</h1>
<br />
<h1>@Model.Nome Usuario Administrador cadastrado</h1>

<div class="text-center">
    <a id="FechaRsv" asp-controller="Login" asp-action="AlterarUsuario"
       class="btn btn-success">Retornar</a>
</div>


