
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}
@model List<Reserva>
<h1>Lista Reservas</h1>


@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data Reserva</th>
                <th scope="col">Usuario</th>
                <th scope="col">Veiculo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
            <tr>
                <td>@i.DataReserva</td>
                <td>@i.usuario.Nome</td>
                <td>@i.Veiculo.Marca</td>               
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhuma Reserva Encontrada</p>
}

@section Scripts{
    <script type="text/javascript">

        //$('#Header').hide();


    </script>
}



